[submodule "libs/luajit"]
	path = libs/luajit
	url = https://github.com/LonghronShen/luajit.git
[submodule "libs/libressl-portable"]
	path = libs/libressl-portable
	url = https://github.com/LonghronShen/libressl-portable.git
